head {
    font-family: TH SarabunPSK;
}

body {
    font-family: TH SarabunPSK;
    display: block;
    margin: 0px;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: #071740;
    overflow: hidden;
    position: sticky;
    top : 0;
    left: 0;
    margin : 0;
    width: 100%;
    float : inline-start;
    display: flex; 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  overflow: hidden;
}

.navbar ul li {
  display : inline;
  float: left;
}

 /* Style the links inside the navigation bar */
.navbar ul li a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

 /* Change the color of links on hover */
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

 /* Add a color to the active/current link */
.navbar a.active {
    background-color: #4816ff95;
    color: white;
}

.space-in-icons {
  padding: 5px;
}

.footer {
    background-color: #333;
    color: #efefef;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 100%;  
    display: flex;
}

.footer div {
  text-align: center;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 24px;
}

.col-1 {
  margin-left: 200px;
}

.col-2 {
  margin-left: 250px;
  margin-right: 200px;
}

.col-3 {
  margin-right: 100px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom:  10px;
  font-size: 24px;
}

.col-2 a {
  text-decoration: none;
  color: #efefef;
  font-size: 20px;
}

.col-2 p {
  font-size: 20px;
  color: #efefef;
  text-decoration: none;
  margin-bottom:  10px;
  font-weight: 600;
}

.col-3 a {
  text-decoration: none;
  color: #efefef;
  margin-bottom:  10px;
  font-size: 20px;
}

.credits-ending {
  height: 10px;
  background-color: #333;
}

.credits {
  background-color: #333;
  color: #efefef;
  position: relative;
  top: 0;
  text-align: center;
}

.credits h3 {
  font-size: 24px;
  color: #efefef;
  text-decoration: none;
  bottom: 0;
  margin: 0;
}

.credits p {
  font-size: 20px;
  color: #efefef;
  text-decoration: none;
  top: 0;
  margin: 0;
}

.credits a {
  text-decoration: none;
  color: #efefef;
  margin-bottom:  10px;
  font-size: 20px;
}

.indev {
  padding-bottom: 40px;
}

.intro {
    font-size: 28px;
    font-weight: 520;
    color: white;
    font-family: TH SarabunPSK;
    background-color: rgba(62, 27, 148, 0.4);
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.intro p {
    font-size: 28px;
    font-weight: normal;
    color: white;
    font-family: TH SarabunPSK;
}

/*space division*/
.space {
    height: 20px;
}

.space-in-text {
  height: 8px;
}

/*quantumxgs20 title in home page*/
.title {
    text-align: center;
    font-family: TH SarabunPSK;
    font-size: 72px;
    font-style: bold;
    font-weight: 600;
    color:white;
    margin: 0;
    padding-top: 20px;
}

.title-2 {
  text-align: center;
  font-family:  TH SarabunPSK;
  font-size: 48px;
  color: white;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.title-3 {
  text-align: left;
  font-family:  TH SarabunPSK;
  font-size: 36px;
  color: white;
  margin: 0;
}

.ref {
  text-decoration: none;
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 20px;
  color: white;
  margin: 0;
  padding-top: 0px;
}

.sponsor {
  font-family: TH SarabunPSK;
  border-radius: 15px;
  text-align: center;
  padding: 3px;
  font-size: 16px;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 10px;
}

.sponsor p {
  text-align: start;
}

.sponsor-title {
  font-size: 36px;
  padding-left: 20px;
  text-align: center;
}

/*countdown timer*/
.countdown {
    text-align: center;
    font-size: 30px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.content div{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.content h3 {
    font-size:20px;
    font-weight: 600;
    text-align: center;
}

.launch-time {
    display: flex;
    margin: 0;
    padding: 60px;
    align-items: center;
    justify-content: center;
}

.launch-time div {
  flex-basis: 130px;
  width: 100px;
  margin: 0;
}

.launch-time div p {
  font-size: 72px;
  margin-bottom: -14px;
  margin: 0;
}

.launch-time-2 {
  display: flex;
  margin: 0;
  padding-left: 110px;
  align-items: center;
}

.launch-time-2 div {
  font-size: 20px;
  flex-basis: 130px;
  width: 100px;
  margin: 0;
  color: #fce2d8
}

.launch-time-2 div p {
  font-size: 80px;
  margin-bottom: -14px;
  margin: 0;
  color: #f5e8e4;
}

.container{
  width: 100vw;
  height: 40vh;
  padding:0 8%;
}

.content h1{
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

.content h1 span{
  color: #ff3753;
}

.container p{
  font-size:48px;
  font-weight: 600;
  margin: 0;
}

img.quantumlogo {
  max-height: 16vh;
  margin-left: auto;
  margin-right: 5px;
  margin-top : 10px;
  display: block;
}

img.triamlikitlogo {
  max-height: 16vh;
  margin-left: 5px;
  margin-right: auto;
  margin-top: 10px;
  display: block;
}

img.ondemand {
  max-height: 20vh;
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
  background-position: center center;
}

img.beersocial {
  max-height: 28vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.upbrain {
  max-height: 32vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.unionagriphar {
  max-height: 24vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.ccp {
  max-height: 20vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.bkn {
  max-height: 24vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.mogca {
  max-height: 24vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.biooui {
  max-height: 20vh;
  margin-left: 20px;
  border-radius: 10px;
  background-color: white;
  background-position: center center;
}

img.kns {
  max-height: 24vh;
  margin-left: 10px;
  border-radius: 10px;
  background-position: center center;
}

img.quantumlogofront {
  max-height: 14vh;
  padding: 10px;
}

img.gslogo {
  max-height: 24vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.newsbanner {
  display: block;
  margin-left: 20px;
  width: 80%;
  padding-top: 30px;
}

img.newsbannersq {
  display: block;
  margin-left: 20px;
  width: 35%;
  padding-top: 30px;
}

img.qtbookcv1 {
  display: flex;
  max-height: 72vh;
  padding-top: 10px;
  padding-left: 250px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
}

img.qtbookcv2 {
  display: flex;
  max-height: 72vh;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 40px;
  align-items: center;
  justify-content: center;
}


.googleforms {
  align-items: center;
  justify-content: center;
  display: flex;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalPopup {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    padding: 0 0 30px;
    -webkit-box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    border-radius: 15px;
}
.modalContent {
  padding: 0 2em;
}

.headerBar {
  width: 100%;
  background-color: #2c1786;
  margin: 0;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.headerBar h1 {
  color: white;
}

.modalContent h1 {
  margin-bottom: .2em;
  font-size: 36px;
  font-weight: 750;
  color: red;
}

.modalContent p {
  margin: .75em 0 1.5em;
  font-size: 24px;
  font-weight: bold;
}

.buttonStyle {
  border: transparent;
  border-radius: 5px;
  background: #3e3ca3;
  color: #eee !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 25px;
  text-decoration: none;
  background: -moz-linear-gradient(top, #3e3ca3 0%, #071740 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3ca3), color-stop(100%,#071740));
  background: -webkit-linear-gradient(top, #3e3ca3 0%,#071740 100%);
  background: -o-linear-gradient(top, #3e3ca3 0%,#071740 100%);
  background: -ms-linear-gradient(top, #3e3ca3 0%,#071740 100%);
  background: linear-gradient(to bottom, #3e3ca3 0%,#071740 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3ca3', endColorstr='#071740',GradientType=0 );
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.buttonStyle:hover {
  background: #071740;
  color: #fff;
  background: -moz-linear-gradient(top, #071740 0%, #3e3ca3 100%, #3e3ca3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#071740), color-stop(100%,#3e3ca3), color-stop(100%,#3e3ca3));
  background: -webkit-linear-gradient(top, #071740 0%,#3e3ca3 100%,#3e3ca3 100%);
  background: -o-linear-gradient(top, #071740 0%,#3e3ca3 100%,#3e3ca3 100%);
  background: -ms-linear-gradient(top, #071740 0%,#3e3ca3 100%,#3e3ca3 100%);
  background: linear-gradient(to bottom, #071740 0%,#3e3ca3 100%,#3e3ca3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071740', endColorstr='#3e3ca3',GradientType=0 );
}
.returnToProfile {text-align: center; margin:3em;}
.returnToProfile a, .returnToProfile a:visited {color: #ddd;}
.returnToProfile a:hover {color: #fff;}

.buttongtw {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: TH SarabunPSK;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(50, 48, 198);
  border-radius: 20px;
}

.buttongtw:hover {
  background-color: #4317b0;
  color: white;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.card {
  background-image: url(./website_bg_new.jpg);
  border-radius: 15px 15px 15px 15px;
  width: 1024px;
  height: 420px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  left: 140px;
  top: 20px;
  position: relative;
}

.orderbutton {
  border: none;
  color: white;
  align-items: center;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: TH SarabunPSK;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(61, 61, 210);
  border-radius: 20px;
  position: relative;
  left: 200px;
  top: 40px;

}

.orderbutton :hover {
  background-color: rgb(61, 61, 150)
}