/* * {
  font-family: TH SarabunPSK;
} */

.head {
    font-family: TH SarabunPSK;
}

.body {
    font-family: TH SarabunPSK;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: #071740;
    overflow: hidden;
    position: sticky;
    top : 0;
    left: 0;
    margin : 0;
    width: 100%;
    float : inline-start;
    display: flex; 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  overflow: hidden;
}

.navbar ul li {
  display : inline;
  float: left;
}

 /* Style the links inside the navigation bar */
.navbar ul li a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

 /* Change the color of links on hover */
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

 /* Add a color to the active/current link */
.navbar a.active {
    background-color: #4816ff95;
    color: white;
}

.intro {
    font-size: 28px;
    font-weight: 520;
    color: white;
    font-family: CordiaUPC;
    background-color: rgba(220, 144, 127, 0.4);
    border-radius: 40px;
}

/*space division*/
.space {
    height: 20px;
}

.space-in-text {
  height: 8px;
}

/*quantumxgs20 title in home page*/
.title {
    text-align: center;
    font-family: IBM Plex Sans Thai;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    color:white;
    margin: 0;
    padding-top: 10px;
}

.title-2 {
  font-size: 36px;
  color: white;
} /*requires attention*/

.sponsor {
  font-size: 28px;
  font-weight: 450px;
  color: white;
} /*requires attention*/

/*countdown timer*/
.countdown {
    text-align: center;
    font-size: 30px;
}

.content{
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction: column;
    color: white;
}

.content div{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.content h3 {
    font-size:20px;
    font-weight: 600;
    text-align: center;
}

.launch-time {
    display: flex;
    margin: 0;
    padding: 60px;
    align-items: center;
    justify-content: center;
}

.launch-time div {
  flex-basis: 130px;
  width: 100px;
  margin: 0;
}

.launch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
  margin: 0;
}

.launch-time-2 {
  display: flex;
  margin: 0;
  padding-left: 110px;
  align-items: center;
}

.launch-time-2 div {
flex-basis: 130px;
width: 100px;
margin: 0;
color: #fce2d8
}

.launch-time-2 div p {
font-size: 60px;
margin-bottom: -14px;
margin: 0;
color: #f5e8e4;
}

.container{
  width: 100vw;
  height:v 100vh;
  padding:0 8%;
}

.content h1{
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

.content h1 span{
  color: #ff3753;
}

.container p{
  font-size:48px;
  font-weight: 600;
  margin: 0;
}

img.quantumlogofront {
  max-height: 12vh;
  padding: 10px;
}

img.quantumlogohome {
  max-height: 5.8vh;
  padding: 10px;
  align-items: right;
  float: right;
}

img.newsbanner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 30px;
}

img.newsbannersq {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding-top: 30px;
}

.googleforms {
  align-items: center;
  justify-content: center;
  display: flex;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalPopup {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    padding: 0 0 30px;
    -webkit-box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);
    border-radius: 15px;
}
.modalContent {
  padding: 0 2em;
}

.headerBar {
  width: 100%;
  background-color: #392C74;
  margin: 0;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.headerBar h1 {
  color: white;
}

h1 {
margin-bottom: .2em;
font-size: 26px;
}

p {
  margin: .75em 0 1.5em;
}

.buttonStyle {
  border: transparent;
  border-radius: 5px;
  background: #6d6d6d;
  color: #eee !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 6px 25px;
  text-decoration: none;
  background: -moz-linear-gradient(top, #6d6d6d 0%, #1e1e1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#1e1e1e));
  background: -webkit-linear-gradient(top, #6d6d6d 0%,#1e1e1e 100%);
  background: -o-linear-gradient(top, #6d6d6d 0%,#1e1e1e 100%);
  background: -ms-linear-gradient(top, #6d6d6d 0%,#1e1e1e 100%);
  background: linear-gradient(to bottom, #6d6d6d 0%,#1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#1e1e1e',GradientType=0 );
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.buttonStyle:hover {
  background: #1e1e1e;
  color: #fff;
  background: -moz-linear-gradient(top, #1e1e1e 0%, #6d6d6d 100%, #6d6d6d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e1e), color-stop(100%,#6d6d6d), color-stop(100%,#6d6d6d));
  background: -webkit-linear-gradient(top, #1e1e1e 0%,#6d6d6d 100%,#6d6d6d 100%);
  background: -o-linear-gradient(top, #1e1e1e 0%,#6d6d6d 100%,#6d6d6d 100%);
  background: -ms-linear-gradient(top, #1e1e1e 0%,#6d6d6d 100%,#6d6d6d 100%);
  background: linear-gradient(to bottom, #1e1e1e 0%,#6d6d6d 100%,#6d6d6d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#6d6d6d',GradientType=0 );
}
.returnToProfile {text-align: center; margin:3em;}
.returnToProfile a, .returnToProfile a:visited {color: #ddd;}
.returnToProfile a:hover {color: #fff;}